.flash-box
.wrapper

  .side-content
    .side-content__header
      .user-box
        .user-name
          名前
        .user-icon-1
          %i.fa.fa-edit
        .user-icon-1
          %i.fa.fa-cog
      
        
    .side-content__group
      .group_list
        グループ１
      .group_message
        今日の天気は晴れ
      .group_list2
        グループ２
      .group_message2
        明日も晴れ
      .group_list3
        グループ３
      .group_message3
        昨日は雨
      .group_list4
        グループ4
      .group_message4
        もう梅雨
      .group_list5
        グループ5
      .group_message5
        いい天気にどこか遊びに行きたい

  .main-content
    .main-content__header
      .main-contant__left-box
      
        .current-group
          グループ名
        .member-list
          Member : aaaaa
      .main-content__edit-btn
        Edit
      /=f.submit 'Edit', :class => "a btn btn-default"
    .messages
      .message_id
        .message_member
          名前
        .message_message
          今日の天気は晴れ
        .message_member2
          名前
        .message_message2
          明日も晴れ
        .message_member3
          名前
        .message_message3
          今日の天気は晴れ？
    .form
      .new_message
        .input-box
          .input_box__text
            type a message
          .input-box__icons
            .fa_a-images
            .input-box__image__file
          .submit-btn








